#about-us-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: auto;
    background-color: seashell;
}
#about-us-banner {
    background: rgb(233,170,170);
    background: linear-gradient(0deg, rgba(233,170,170,1) 0%, rgba(250,94,94,1) 85%); 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35%;
    min-height: 200px;
}
#banner-title {
    font-family: 'Montserrat', sans-serif;
    margin-top: -33px;
    font-size: 50px;
}
#banner-text {
    font-size: 35px;
    margin-top: 12px;
}
#history-parent {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#history-text-parent {
    width: 80%;
}
#our-history-title {
    margin: 12px;
    color: black;
}
#our-history-text, #our-history-text-2, #philosophy-text, #philosophy-text-2 {
    font-size: 20px;
    margin-bottom: 40px;
    text-indent: 35px;
    line-height: 1.5;
}
#image-border {
    height: 430px;
    width: 258px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-left: 20px;
}
#philosophy-parent {
    margin: 12px 130px;
    margin-bottom: 50px;
}
#philosophy-title {
    margin-bottom: 12px;
    color: black;
}
#father-daughter-mechanics-image {
    height: 400px;
    width: 228px;
}
@media (max-width: 700px) {
    #about-us-banner {
        min-height: 25%;
    }
    #banner-title {
        font-size: 30px;
    }
    #banner-text {
        font-size: 20px;
        text-align: center;
        padding: 0 8vw;
    }
    #history-parent {
        flex-direction: row;
        padding: 0 5vw;
    }
    #image-border {
        width: fit-content;
        height: fit-content;
        padding: 2vw;
        align-self: flex-start;
        margin: 0 0 10px 10px;
    }
    #father-daughter-mechanics-image {
        width: 30vw;
        height: auto;
    }
    #history-text-parent {
        width: auto;
    }
    #our-history-text, #our-history-text-2 {
        width: 100%;
        text-align: justify;
    }   
}