#reviews-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: auto;
    background-color: seashell;
}
#review-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 160px;
    background: rgb(233,170,170);
    background: linear-gradient(0deg, rgba(233,170,170,1) 0%, rgba(250,94,94,1) 80%); 
}
#image-rotating-review-parent {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
#customer-image {
    width: 480px;
    border-radius: 17px;
}
#rotating-reviews {
    background: rgb(250,94,94);
    background: linear-gradient(0deg, rgba(250,94,94,1) 25%, rgba(233,170,170,1) 100%); 
    width: 480px;
    border-radius: 17px;
    display: flex;
    align-items: center;
}
#customer-reviews-title {
    align-self: center;
    color: black;
}
#reviews-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 60px 100px;
}
.review-parents {
    border: 2px solid white;
    background-color: whitesmoke;
    margin: 20px 60px;
    height: fit-content;
    border-radius: 12px;
    box-shadow: 1px 1px 1px gray, -1px -1px 1px gray;
}
.review-texts {
    font-size: 22px;
    line-height: 33px;
    padding: 12px;
}
.review-text-author-parents {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 12px;
    margin-bottom: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}