#nav-banner-container {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 2;
    background-color: #fff8f5;
    border-bottom: 1px solid #fdeee8;
}
#nav-logo {
    height: 85px;
}
#nav-text-container {
    display: flex;
}
.nav-buttons {
    background: none;
    border: none;
    font-size: 20px;
    margin-left: 40px;
}
.nav-buttons:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    #nav-banner-container {
        padding: 0 8px;
        justify-content: space-evenly;
    }
    #nav-logo {
        height: 50px;
    }
    .nav-buttons {
        margin-left: 5vw;
        font-size: 14px;
        font-weight: 600;
    }
}